*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    margin-top: 120px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
main {
   flex: 1 0 auto;
 }
nav {
    height: 15px;
    position: fixed;
    top: 70px;
    z-index: 997;
}

#menuLaunch{
    color:  #E95420;
}

.card-content h5{
    color: #414141;
    font-weight: bold;
}
.card-content span{
    color: #E95420;
}
.floatingBtn{
    background-color:  #E95420;
}
.floatingBtn:hover{
    background-color: #BABABA;
}
.button-collapse{
    position: fixed;
    top: 3%;
    left: 2%;
    z-index: 999;
}
.head-logo{
    background-color: #FFF;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;
}
.head-logo img{
    height: 80%;
    margin-left: 25%;
    margin-top: 2%;
    z-index: 997;
}
.nav-wrapper{
    background-color:  #E95420; /*Navbar color*/
    z-index: 997;
}
.page-footer{
    padding-top: 0px !important;
}
.parallax-container{
    height: 10rem;
    margin-top: -40px;
    margin-bottom: -4rem;
}
.pathDir{
    background-color: #FFF;
    position: fixed;
    top: 85px;
    width: 100%;
    z-index: 996;
}
.pathDir a{
    text-decoration: none;
    color: #F12330;
}
.secTitle{
    background-color: #414141;
    color: #FFF;
    margin-top: -2rem;
}
